/* Navbar */
header {
	position: fixed;
	top: 0;
	left: 0;
	background-color: black;
	width: 100%;
}
nav {
	width: 80%;
	margin: auto;
	padding: 10px 0px;
	vertical-align: baseline;
}
nav .right ul {
	list-style: none;
}
nav .right {
	float: right;
}
nav .right ul li {
	display: inline;
}
nav .left {
	float: left;
	color: white;
	text-decoration: none;
}
nav .left a {
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
}
nav a {
	padding:10px 20px;
	text-decoration: none;
	color: white;
	background-color: black;
}
nav a:hover {
	background-color: white;
	color: black;
}


/* Container */
.container {
	padding: 5% 0;
	width: 80%;
	margin: auto;
}

.container img {
	width: 300px;
	height: 150px;
}

.container .project {
	clear: both;
	padding: 40px 0;
}

.container .project a {
	float: left;
	margin-right: 20px;
	border: 1px solid black;
}

/* Footer */
footer {
	background-color: black;
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
}

footer p {
	color: white;
	text-align: center;
}

footer a {
	text-decoration: none;
	color: white;
	font-style: italic;
}